.callback-form__input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 20px;
  width: 100%;

  &--select {
    width: 260px;
  }

  @media (min-width: $tablet-width) {
    &--select {
      width: 100%;
    }
  }
}

.callback-form__label {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0%;
  color: $extra-on-dark;
  opacity: 80%;
  width: fit-content;
  max-width: 100%;
  transition-property: color;
  transition-duration: 0.2s;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    line-height: 18px;
  }
}

.callback-form__input-wrapper--select .callback-form__label {
  @media (min-width: $desktop-width) {
    line-height: 14px;
  }
}

.callback-form__input-wrapper:has(.callback-form__input:hover) .callback-form__label,
.callback-form__input-wrapper:has(.callback-form__input:active) .callback-form__label,
.callback-form__input-wrapper:has(.callback-form__input:focus) .callback-form__label,
.callback-form__input-wrapper:has(.callback-form__select:hover) .callback-form__label,
.callback-form__input-wrapper:has(.callback-form__select:active) .callback-form__label,
.callback-form__input-wrapper:has(.callback-form__select:focus) .callback-form__label {
  opacity: 100%;
}

.callback-form__input-wrapper:has(.callback-form__input:disabled) .callback-form__label,
.callback-form__input-wrapper:has(.callback-form__select:disabled) .callback-form__label {
  opacity: 60%;
}

.callback-form__input-wrapper:has(.callback-form__input--error) .callback-form__label,
.callback-form__input-wrapper:has(.callback-form__select--error) .callback-form__label {
  opacity: 80%;
}

.callback-form__input {
  background-color: transparent;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 15px 23.5px;
  display: block;
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  transition-property: border-color;
  transition-duration: 0.2s;

  &--textarea {
    height: 94px;
    resize: none;

    @media (min-width: $tablet-width) {
      height: 88px;
    }

    @media (min-width: $desktop-width) {
      height: 90px;
    }
  }

  &:hover,
  &:active,
  &:focus {
    border-color: #ffffff;
    outline: none;
  }

  &:disabled {
    opacity: 40%;
    border-color: #ffffff;
    background-color: rgba(255, 255, 255, 0.2);
  }
}

.callback-form__input-wrapper .callback-form__input--error {
  border-color: #ff5e66;
  background-color: rgba(255, 94, 102, 0.2);
}

.callback-form__select-wrapper {
  position: relative;

  &::after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 21px;
    background-color: #ffffff;
    mask-size: 100%;
    mask-repeat: no-repeat;
    mask-image: url("/__spritemap#sprite-select-arrow-icon-view");
    mask-position: center;
    pointer-events: none;
    transition-property: transform;
    transition-duration: 0.2s;
  }

  &:has(.callback-form__select:active)::after,
  &:has(.callback-form__select:focus)::after,
  &:has(.callback-form__select--opened)::after {
    transform: translateY(-50%) rotate(180deg);
  }

  &:has(.callback-form__select:disabled)::after {
    transform: translateY(-50%);
    opacity: 40%;
  }
}

.callback-form__select {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0%;
  background-color: transparent;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 0 20px;
  padding-right: 56px;
  display: block;
  width: 100%;
  height: 52px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  appearance: none;
  cursor: pointer;
  transition-property: border-color;
  transition-duration: 0.2s;
  color: #ffffff;

  &:hover,
  &:active,
  &:focus {
    border-color: #ffffff;
    outline: none;
  }

  &:disabled {
    border-color: #ffffff;
    opacity: 40%;
    cursor: default;
  }
}

.callback-form__select-wrapper .callback-form__select--error {
  border-color: #ff5e66;
  opacity: 100%;
}

.callback-form__select-display {
  width: 100%;
  background-color: #ffffff;
  border-radius: 8px;
  border: 1px solid #ffffff;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  left: 0;
  top: calc(100% + 4px);

  &--opened {
    opacity: 100%;
    pointer-events: auto;
    z-index: 5;
  }
}

.callback-form__select:focus ~ .callback-form__select-display {
  opacity: 100%;
  pointer-events: auto;
  z-index: 5;
}

.callback-form__select-option {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0%;
  text-align: left;
  color: $base-color;
  padding: 17px 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: block;
  width: 100%;
  box-sizing: border-box;
  transition-property: color, background-color;
  transition-duration: 0.2s;

  &:hover {
    color: $extra-color;
  }

  &:focus,
  &:active {
    color: #ffffff;
    background-color: $extra-color;
    outline: none;
  }

  &:first-of-type {
    border-radius: 8px 8px 0 0;
  }

  &:last-of-type {
    border-radius: 0 0 8px 8px;
  }
}

.callback-form__select-display .callback-form__select-option--selected {
  color: #ffffff;
  background-color: $extra-color;
}

.callback-form__checkbox-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0%;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    line-height: 12px;
    margin-bottom: 40px;
  }
}

.callback-form__checkbox-label br {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.callback-form__checkbox-custom {
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  border-radius: 2px;
  background-color: #ffffff;
  border: 1px solid transparent;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: border-color, background-color;
  transition-duration: 0.2s;

  &::after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    background-color: $extra-color;
    mask-image: url("/__spritemap#sprite-check-icon-view");
    mask-size: 100%;
    opacity: 0;
    transition-property: opacity, background-color;
    transition-duration: 0.2s;
  }
}

.callback-form__checkbox:hover ~ .callback-form__checkbox-label .callback-form__checkbox-custom,
.callback-form__checkbox:focus ~ .callback-form__checkbox-label .callback-form__checkbox-custom {
  background-color: transparent;
  border-color: #ffffff;
  outline: none;
}

.callback-form__checkbox:disabled ~ .callback-form__checkbox-label .callback-form__checkbox-custom {
  border-color: #ffffff;
  background-color: rgba(255, 255, 255, 0.6);
}

.callback-form__checkbox--error ~ .callback-form__checkbox-label .callback-form__checkbox-custom {
  border-color: #ff5e66;
  background-color: rgba(255, 94, 102, 0.2);
}

.callback-form__checkbox:checked ~ .callback-form__checkbox-label .callback-form__checkbox-custom {
  background-color: #ffffff;

  &::after {
    opacity: 100%;
  }
}

.callback-form__checkbox:checked:hover ~ .callback-form__checkbox-label .callback-form__checkbox-custom,
.callback-form__checkbox:checked:focus ~ .callback-form__checkbox-label .callback-form__checkbox-custom {
  background-color: transparent;

  &::after {
    background-color: #ffffff;
  }
}

.callback-form__checkbox:checked:disabled ~ .callback-form__checkbox-label .callback-form__checkbox-custom {
  background-color: $disabled-color;

  &::after {
    background-color: #ffffff;
  }
}

.callback-form__button {
  padding-left: 31px;
  display: grid;
  grid-template-columns: 1fr 34px;
  gap: 30px;
  width: 260px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 46px;
    width: 352px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}
