// Fonts
$manrope: "Manrope", sans-serif;

// Colors
$base-color: #484848;
$extra-color: #316dc2;
$extra-on-dark: #f0efe9;
$disabled-color: #a9afb7;

// Breakpoints
$tablet-width: 768px;
$desktop-width: 1440px;
